.body-content {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;

  .about-results {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #70757a;
    padding-left: 180px;
  }

  .content-results {
    width: 652px;
    height: auto;
    margin-left: 180px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    .content-card {
      font-family: arial, sans-serif;
      display: flex;
      flex-direction: column;
      margin-bottom: 28px;
      width: 550px;
    }

    .url {
      font-size: 14px;
      color: #202124;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
    .titulo {
      margin-bottom: 5px;
      margin-top: 5px;
      font-size: 20px;
      line-height: 1.3;
      color: #1a0dab;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }

    .descripcion {
      color: #4d5156;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

      .key-word {
        color: #5f6368;
        font-weight: bold;
      }
    }
  }
}
