.buscadorResults {

  .input-inicio-results {
    width: 690px;
    height: 44px;
    &:hover {
      box-shadow: 1px 1px 6px darkgray;
    }
  }

  .icons-rigtht {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 3px;

    .icon-delete {
      margin-right: 90px;
    }

    .icon-microfone{
      margin-right: 60px;
    }

    .icon-search{
      margin-right: 10px;
      color: gray;
      &:hover {
       cursor: pointer;
      }
    }
  }
  
}
