.footer-inicio {
  background-color: #f2f2f2;
  height: 80px;
  display: flex;
  flex-direction: column;
  .footer-row {
    width: 100%;
    height: 40px;
    border-top: 1px solid #dadce0;
    font-family: arial, sans-serif;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-between;

    .row-2-rigth {
      margin-left: 30px;
    }

    .row-2-left {
      margin-right: 30px;
    }

    .span-row-1 {
      font-family: arial, sans-serif;
      font-size: 14px;
      padding-left: 27px;
      color: #70757a;
    }

    .a-row-2 {
      padding-left: 27px;
      color: #70757a;
      font-family: arial, sans-serif;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
    }
    .item-dpd {
      font-family: arial, sans-serif;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
        background-color: none;
      }
    }

    .dpd-content {
      border: 1px solid black;
    }
  }
}
